<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragments/head}"></head>

<body>
<div class="wrapper">
    <!-- Navigation -->
    <header>
        <nav th:replace="~{/fragments/navigation}"></nav>
    </header>

    <section class="road" th:each="route : ${routesCategory}">
        <div style="width: 30rem;">
            <h2 th:text="${route.name}">Title</h2>
            <p th:text="${route.description}" style="max-width: 100%; overflow-wrap: break-word;">Route Description.</p>
            <a th:href="@{'/routeDetails/' + ${route.id}}" class="btn">Learn More</a>
        </div>
        <img class="rounded-circle w-75 ml-5"  th:if="${route.imageUrl != null}" th:src="${route.imageUrl}" alt="Route Image"
             style="height: 18rem;"/>
        <img  th:if="${route.imageUrl == null}" src="/images/default-route.png" alt="Default Image"
             style="height: 18rem;"/>
    </section>
</div>
<!-- Wrapper Ends -->
</body>
<footer th:replace="~{fragments/footer}"></footer>
</html>