<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragments/head}">
</head>

<body>

<div>
    <nav th:replace="~{/fragments/navigation}"></nav>
</div>

<div class="container">
    <h2 class="text-center text-white m-3">All Brands</h2>
    <div class="row mb-4">
        <div th:each="brand, brandIndex : ${brands}" th:class="'col-md-' + (${brands.size()} > 1 ? 6 : 12)">
            <div class="brand-section">
                <h2 class="text-center text-white m-3" th:text="'Car brand: ' + ${brand.name}">Brand name</h2>
                <div>Models:
                    <table>
                        <tr>
                            <th>No</th>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Start Year</th>
                            <th>End Year</th>
                            <th>Picture</th>
                        </tr>
                        <tr th:each="model, modelStat : ${brand.models}">
                            <td th:text="${modelStat.index + 1}">1</td>
                            <td th:text="${model.name}">Model Name</td>
                            <td th:text="${model.category}">Model Category</td>
                            <td th:text="${model.startYear}">Model Start Year</td>
                            <td th:text="${model.endYear}">Model End Year</td>
                            <td><img th:src="@{'/img/' + ${model.imageUrl}}" width="90"/></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div>
        <footer> </footer>
    </div>
</div>
</body>
</html>
