<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragments/head}">
</head>

<body>

<div>
    <nav th:replace="~{/fragments/navigation}"></nav>
</div>


<div class="container">
    <h2 class="text-center text-white">Upload Offer</h2>
    <form method="POST" th:action="@{'/offers/update/' + ${offer.id}}"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
        <div class="row">

            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="brand">Brand</label>
                <input id="brand" type="text" name="brand" class="form-control" placeholder="Enter brand" th:value="${offer.model.brand.name}">
                <p class="errors alert alert-danger" th:if="${invalidBrand}">
                    Vehicle brand is required.
                </p>
            </div>

            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="model">Model</label>
                <input id="model" type="text" name="model" class="form-control" placeholder="Enter model" th:value="${offer.model.name}">
                <p class="errors alert alert-danger" th:if="${invalidModel}">
                    Vehicle model is required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="price" class="text-white font-weight-bold">Price</label>
                <input id="price" type="number" name="price" min="0" step="100" class="form-control"
                       placeholder="Suggested price" th:value="${offer.price}"/>
                <p class="errors alert alert-danger" th:if="${invalidPrice}">
                    Suggested price is required.
                </p>
            </div>

            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="engine">Engine</label>
                <select id="engine" name="engine" class="form-control">
                    <option value="">- Select engine type -</option>
                    <option th:selected="${offer.engine.name == 'GASOLINE'}">GASOLINE</option>
                    <option th:selected="${offer.engine.name  == 'DIESEL'}">DIESEL</option>
                    <option th:selected="${offer.engine.name  == 'ELECTRIC'}">ELECTRIC</option>
                    <option th:selected="${offer.engine.name  == 'HYBRID'}">HYBRID</option>
                </select>
                <p class="errors alert alert-danger" th:if="${invalidEngine}">
                    Engine type is required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="transmission">Transmission</label>
                <select id="transmission" name="transmission" class="form-control">
                    <option value="">- Select transmission type -</option>
                    <option th:selected="${offer.transmission.name  == 'MANUAL'}">MANUAL</option>
                    <option th:selected="${offer.transmission.name  == 'AUTOMATIC'}">AUTOMATIC</option>
                </select>
                <p class="errors alert alert-danger" th:if="${invalidTransmission}">
                    Transmission type is required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="engine">Category</label>
                <select id="category" name="category" class="form-control">
                    <option value="">- Select category -</option>
                    <option th:selected="${offer.model.category.name  == 'CAR'}">CAR</option>
                    <option th:selected="${offer.model.category.name  == 'BUSS'}">BUSS</option>
                    <option th:selected="${offer.model.category.name  == 'TRUCK'}">TRUCK</option>
                    <option th:selected="${offer.model.category.name  == 'MOTORCYCLE'}">MOTORCYCLE</option>
                </select>
                <p class="errors alert alert-danger" th:if="${invalidCategory}">
                    Category type is required.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="year" class="text-white font-weight-bold">Year</label>
                <input id="year" type="number" name="year" min="1900" max="2099" step="1" class="form-control"
                       placeholder="Manufacturing year" th:value="${offer.year}"/>
                <p class="errors alert alert-danger" th:if="${invalidYear}">
                    Manufacturing year is required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="mileage" class="text-white font-weight-bold">Mileage</label>
                <input id="mileage" type="number" name="mileage" min="0" max="900000" step="1000"
                       class="form-control"
                       placeholder="Mileage in kilometers" th:value="${offer.mileage}"/>
                <p class="errors alert alert-danger" th:if="${invalidMileage}">
                    Mileage in kilometers is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="text-white font-weight-bold" for="description">Description</label>
            <textarea id="description" type="textarea" name="description" class="form-control" rows="3"
                      placeholder="Description" th:text="${offer.description}"></textarea>
            <p class="errors alert alert-danger" th:if="${invalidDescription}">
                Description is required.
            </p>
        </div>
        <div class="form-group">
            <label class="text-white font-weight-bold" for="imageUrl">Upload Image</label>
            <input id="imageUrl" type="file" name="imageUrl" class="form-control" th:value="${offer.imageUrl}" />
            <p class="errors alert alert-danger" th:if="${invalidUrl}">
                Vehicle image is required.
            </p>
        </div>

        <div class="row justify-content-center">
            <div class="col col-md-4">
                <div class="button-holder d-flex justify-content-center">
                    <input type="submit" class="btn btn-info btn-lg" value="Submit Offer"/>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <footer> </footer>
</div>

</body>
</html>
